[View in Colaboratory](https://colab.research.google.com/github/ArjunGajmer/Assignment-ML/blob/master/Assignment_5.ipynb)

#PANDAS2

Q.1 - Download the dataset from this link and solve all these questions, 
Click Here
a.) Find the sum of missing data for every column in the dataset using the (isnull function and sum function) 
b.) Remove the missing values (if any) 
c.) Once again , Import the dataset and this time replace the missing null values with mean of the column series. 
d.) Find individual data types and copy the temperature column to a pandas series.

In [0]:
import pandas as pd

In [9]:
df= pd.read_csv('https://raw.githubusercontent.com/Shreyas3108/Weather/master/weather.csv')
df.isnull().sum()

Date              0
Location          0
MinTemp           0
MaxTemp           0
Rainfall          0
Evaporation       0
Sunshine          3
WindGustDir       3
WindGustSpeed     2
WindDir9am       31
WindDir3pm        1
WindSpeed9am      7
WindSpeed3pm      0
Humidity9am       0
Humidity3pm       0
Pressure9am       0
Pressure3pm       0
Cloud9am          0
Cloud3pm          0
Temp9am           0
Temp3pm           0
RainToday         0
RISK_MM           0
RainTomorrow      0
dtype: int64

In [12]:
df=df.dropna()
df.isnull().sum()

Date             0
Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
RISK_MM          0
RainTomorrow     0
dtype: int64

In [16]:
data=pd.read_csv('https://raw.githubusercontent.com/Shreyas3108/Weather/master/weather.csv')
data=data.fillna(data.mean())
data.isnull().sum()

Date              0
Location          0
MinTemp           0
MaxTemp           0
Rainfall          0
Evaporation       0
Sunshine          0
WindGustDir       3
WindGustSpeed     0
WindDir9am       31
WindDir3pm        1
WindSpeed9am      0
WindSpeed3pm      0
Humidity9am       0
Humidity3pm       0
Pressure9am       0
Pressure3pm       0
Cloud9am          0
Cloud3pm          0
Temp9am           0
Temp3pm           0
RainToday         0
RISK_MM           0
RainTomorrow      0
dtype: int64

In [21]:
data.dtypes

Date              object
Location          object
MinTemp          float64
MaxTemp          float64
Rainfall         float64
Evaporation      float64
Sunshine         float64
WindGustDir       object
WindGustSpeed    float64
WindDir9am        object
WindDir3pm        object
WindSpeed9am     float64
WindSpeed3pm       int64
Humidity9am        int64
Humidity3pm        int64
Pressure9am      float64
Pressure3pm      float64
Cloud9am           int64
Cloud3pm           int64
Temp9am          float64
Temp3pm          float64
RainToday         object
RISK_MM          float64
RainTomorrow      object
dtype: object

In [37]:
data1=pd.Series.copy(data.Temp3pm )
data1

0      23.6
1      25.7
2      20.2
3      14.1
4      15.4
5      14.8
6      17.3
7      15.5
8      18.9
9      21.7
10     24.0
11     26.0
12     27.1
13     30.7
14     30.4
15     30.7
16     29.8
17     28.6
18     31.2
19     32.0
20     32.8
21     18.3
22     16.8
23     22.8
24     27.3
25     25.1
26     21.2
27     26.7
28     19.7
29     23.2
       ...
336    26.7
337    28.4
338    19.3
339    19.8
340    16.2
341    14.6
342    16.6
343    18.8
344    21.4
345    20.6
346    22.3
347    23.2
348    19.4
349    18.4
350    19.2
351    21.9
352    23.7
353    27.4
354    26.3
355    18.5
356    14.3
357    16.3
358    19.1
359    24.8
360    25.9
361    30.0
362    28.2
363    18.3
364    25.9
365    28.6
Name: Temp3pm, Length: 366, dtype: float64